<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Esmart_IspCategories>
            <version>1.0.0</version>
        </Esmart_IspCategories>
    </modules>
    <global>
       <resources>
           <ispcategories_setup>
              <setup>
                 <module>Esmart_IspCategories</module>
                 <class>Mage_Customer_Model_Entity_Setup</class>
              </setup>
              <connection>
                 <use>core_setup</use>
              </connection>
          </ispcategories_setup>
          <ispcategories_write>
            <connection>
               <use>core_write</use>
             </connection>
          </ispcategories_write>
          <ispcategories_read>
            <connection>
              <use>core_read</use>
         </connection>
        </ispcategories_read>
       </resources>
       
       <models>
            <ispcategories>
                <class>Esmart_IspCategories_Model</class>
                <resourceModel>ispcategories_mysql4</resourceModel>
            </ispcategories>
            <ispcategories_mysql4>
                <class>Esmart_IspCategories_Model_Mysql4</class>
                <entities>
                    <relations>
                        <table>ispcategories_relations</table>
                    </relations>
                </entities>
            </ispcategories_mysql4>
            <ispcategories_adminhtml>
                <class>Esmart_IspCategories_Adminhtml_Model</class>
            </ispcategories_adminhtml>
        </models>
        <blocks>
            <ispcategories>
                <class>Esmart_IspCategories_Block</class>
            </ispcategories>
        </blocks>
        <helpers>
            <ispcategories>
                <class>Esmart_IspCategories_Helper</class>
            </ispcategories>
        </helpers>
    </global>

    <frontend>
        <routers>
            <ispcategories>
                <use>standard</use>
                <args>
                    <module>Esmart_IspCategories</module>
                    <frontName>ispcategories</frontName>
                </args>
            </ispcategories>
        </routers>
        <translate>
            <modules>
                <Esmart_IspCategories>
                     <files>
                          <default>Esmart_IspCategories.csv</default>
                     </files>
                </Esmart_IspCategories>
            </modules>
        </translate>
        <layout>
             <updates>
                  <ispcategories>
                        <file>esmart/ispcategories.xml</file>
                  </ispcategories>
             </updates>
        </layout>
    </frontend>

    <adminhtml>
    	<layout>
            <updates>
                <esmart_ispcategories>
                    <file>esmart/ispcategories.xml</file>
                </esmart_ispcategories>
            </updates>
        </layout>
        <translate>
            <modules>
                <Esmart_IspCategories>
                    <files>
                        <default>Esmart_IspCategories.csv</default>
                    </files>
                </Esmart_IspCategories>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ispcategories translate="title" module="ispcategories">
                                            <title>Import Super Products</title>
                                        </ispcategories>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
        	<adminhtml>
                <args>
                    <modules>
                        <Esmart_IspCategories before="Mage_Adminhtml">Esmart_IspCategories_Adminhtml</Esmart_IspCategories>
                    </modules>
                </args>
            </adminhtml>
            <ispcategories>
                <use>admin</use>
                <args>
                    <module>Esmart_IspCategories</module>
                    <frontName>ispcategories</frontName>
                </args>
            </ispcategories>
        </routers>
    </admin>
</config>